/*最上方導覽列*/
.navbar{
	padding: 16px 0px;
}
.navbar a:hover{
	border-bottom:1px solid var(--neutral-900);
	padding-bottom: 4px;
}
/*main*/
.log-in{
    padding: 64px 0;
}
.col-5{
    border: 1px solid blue;
    /* border-radius: 12px;
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/login.png?raw=true");
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; */
}
.col-7{
    border: 1px solid blue;
    position: relative;
    z-index: 5;
}
/*右側登入頁*/
.col-7 img{
    /* background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/login-bg.png?raw=true"); */
    border-radius: 12px;
    height: 100%;
    
}
.col-7 .box{
    border: 1px solid #000;
    width: 586px;
    text-align: center;
    position:absolute;
    top:120px;
    left: 80px;
    z-index: 10;
}
/*登入表格*/
.login-table{
    width: 100%;
    text-align: center;
}
.login-table a{
    padding: 12px 0;
}
.login-table .table1{
    border-bottom: 2px solid var(--neutral-900);
}
.login-table .table1 a{
    color: var(--neutral-900);
}
.login-table .table2{
    border-bottom: 2px solid var(--neutral-300);
}
.login-table .table2 a{
    color: var(--neutral-600);
}
.table2 a:hover{
    color: var(--neutral-900);
    border-bottom: 2px solid var(--neutral-900);
}
.form{
    border-radius: 4px;
    border: 1px solid var(--neutral-300);
    background-color: var(--neutral-white);
}
.form a{
    padding: 12px;
}
.form img{
    width: 40px;
    height: 40px;
}
.form p{
    font-size: 16px;
}
.form a:hover{
    border-bottom: 2px solid var(--neutral-900);
}
/*footer & copyright*/
.footer{
	padding: 64px 0;
	background-color: var(--neutral-100);
}
.footer .navbar{
	margin-bottom: 24px;
}
.copyright{
	text-align: center;
	border-top: 1px solid var(--neutral-300);
}
.copyright p{
	font-size: 14px;
	font-weight: 400;
	color: var(--neutral-600);
}
.copyright .p-1{
	margin-top: 32px;
}
@media(max-width:768px){
    .navbar{
        padding: 12px 0;
    }
    .col-5{
      background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/login-sm.png?raw=true");
      max-width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .footer{
		padding: 32px 0;
	}
}