/*最上方導覽列*/
.navbar{
	padding: 16px 0px;
}
.navbar a:hover{
	border-bottom:1px solid var(--neutral-900);
	padding-bottom: 4px;
}

/*main*/
.sign-up{
    padding: 64px 0;
}
/*左側廣告圖*/
.col-5 img{
    border-radius: 12px;
}
.col-5{
    position: relative;
    z-index: 5;
}
.col-5 .h1{
    position: absolute;
    top: 71px;
    left: 40px;
    color: var(--neutral-white);
    z-index: 10;
    margin-bottom: 15px;
}
.col-5 .h4{
    position:absolute;
    top: 144px;
    left: 125px;
    color: var(--neutral-500);
    z-index: 10;
}
/*右側註冊頁*/
.col-7{
    border-radius: 12px;
    background-color: var(--neutral-100);
}
.col-7 .box{
    width: 586px;
    text-align: center;
    margin: 120px 80px;
}
/*註冊表格*/
.signup-table{
    width: 586px;
    text-align: center;
}
.signup-table .h6{
    font-weight: 700;
}
.signup-table a{
    padding: 12px 0;
}
.signup-table .table1{
    border-bottom: 2px solid var(--neutral-300);
}
.signup-table .table1 a{
    color: var(--neutral-600);
}
.signup-table .table2{
    border-bottom: 2px solid var(--neutral-900);
}
.signup-table .table2 a{
    color: var(--neutral-900);
}
.table1 a:hover{
    color: var(--neutral-900);
    border-bottom: 2px solid var(--neutral-900);
}
.form{
    border-radius: 4px;
    border: 1px solid var(--neutral-300);
    background-color: var(--neutral-white);
}
.form a{
    padding: 12px;
}
.form a:hover{
    border-bottom: 2px solid var(--neutral-900);
}
/*footer & copyright*/
.footer{
	padding: 64px 0;
	background-color: var(--neutral-100);
}
.footer .navbar{
	margin-bottom: 24px;
}
.copyright{
	text-align: center;
	border-top: 1px solid var(--neutral-300);
}
.copyright p{
	font-size: 14px;
	font-weight: 400;
	color: var(--neutral-600);
}
.copyright .p-1{
	margin-top: 32px;
}